@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/fredoka/v14/X7nP4b87HvSqjb_WIi2yDCRwoQ_k7367_B-i2yQag0-mac3OryLMFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/fredoka/v14/X7nP4b87HvSqjb_WIi2yDCRwoQ_k7367_B-i2yQag0-mac3O8SLMFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/fredoka/v14/X7nP4b87HvSqjb_WIi2yDCRwoQ_k7367_B-i2yQag0-mac3OwyLMFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/fredoka/v14/X7nP4b87HvSqjb_WIi2yDCRwoQ_k7367_B-i2yQag0-mac3OLyXMFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/fredoka/v14/X7nP4b87HvSqjb_WIi2yDCRwoQ_k7367_B-i2yQag0-mac3OFiXMFg.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Fredoka', sans-serif;
  background-color: #F5F5F7;
  font-size: 18px;
}
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #705C53;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  z-index: 1000;
}
.top-bar .logo img {
  height: 40px;
  width: auto;
  border-radius: 1rem;
}
.top-bar .search-container {
  width: 250px;
}
.top-bar .search-container input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.nav-bar {
  background-color: #B7B7B7;
  margin-top: 80px;
  padding: 15px 10px;
}
.nav-bar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.nav-bar ul li {
  margin: 0 15px;
}
.nav-bar ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 1.2em;
  font-family: 'Fredoka', sans-serif;
}
.nav-bar ul li a:hover {
  background-color: #EDDFE0;
  border-radius: 5px;
  color: #705C53;
}
.page-layout {
  display: flex;
  justify-content: space-between;
  margin-top: 0.1rem;
  padding: 20px;
}
.page-layout .sidebar,
.page-layout .right-sidebar {
  width: 15%;
  background-color: #705C53;
  color: #EDDFE0;
  padding: 20px;
  border-radius: 1rem;
}
.page-layout .sidebar ul,
.page-layout .right-sidebar ul {
  list-style-type: none;
}
.page-layout .sidebar ul li,
.page-layout .right-sidebar ul li {
  margin: 15px 0;
}
.page-layout .sidebar ul li a,
.page-layout .right-sidebar ul li a {
  font-size: 1.1em;
  color: #EDDFE0;
  text-decoration: none;
}
.page-layout .sidebar ul li a:hover,
.page-layout .right-sidebar ul li a:hover {
  font-size: larger;
  text-shadow: 3px 2px 2px #333;
}
.page-layout .forum-content {
  width: 65%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.page-layout .forum-content p {
  font-size: 1.1em;
}
.page-layout .forum-content img {
  width: 100%;
  height: auto;
}
.page-layout .forum-content .post {
  margin-bottom: 20px;
  border-bottom: 2px dashed #333;
}
.page-layout .forum-content .post h2 {
  color: #333;
  margin-bottom: 10px;
}
.page-layout .forum-content .post p {
  line-height: 1.6;
  margin-bottom: 10px;
}
.page-layout .forum-content .post img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  box-shadow: 0px 4px 4px 2px #333;
}
@media (min-width: 1920px) {
  body {
    font-size: 24px;
  }
}
@media (max-width: 1440px) {
  .sidebar ul li a {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .search-container {
    width: 200px;
  }
  .search-container input {
    margin-top: 10px;
  }
  .page-layout {
    flex-direction: row;
    position: relative;
  }
  .sidebar {
    width: 28%;
    margin-bottom: 20px;
    position: absolute;
    right: 0;
  }
  .forum-content {
    width: 70%;
    margin-right: 10px;
  }
  .nav-bar {
    margin-top: 125px;
  }
}
@media (max-width: 600px) {
  .page-layout {
    flex-direction: column;
    align-items: center;
  }
  .page-layout .sidebar {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
  }
  .page-layout .forum-content {
    width: 100%;
  }
  .nav-bar ul {
    flex-direction: column;
  }
  .nav-bar ul li {
    text-align: center;
  }
}
